
.kaf-icon-twitter:before { content: '\e800'; } /* '' */
.kaf-icon-facebook-squared:before { content: '\e801'; } /* '' */
.kaf-icon-slideshare:before { content: '\e802'; } /* '' */
.kaf-icon-rss:before { content: '\e803'; } /* '' */
.kaf-icon-export:before { content: '\e804'; } /* '' */
.kaf-icon-youtube-play:before { content: '\e805'; } /* '' */
.kaf-icon-instagram:before { content: '\e806'; } /* '' */
.kaf-icon-clock:before { content: '\e807'; } /* '' */
.kaf-icon-doc:before { content: '\e808'; } /* '' */
.kaf-icon-doc-text:before { content: '\e809'; } /* '' */
.kaf-icon-menu:before { content: '\e80a'; } /* '' */
.kaf-icon-dot-3:before { content: '\e80b'; } /* '' */
.kaf-icon-cancel:before { content: '\e80c'; } /* '' */
.kaf-icon-whatsapp:before { content: '\e80d'; } /* '' */