.share-buttons-block {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  width: 100%; }
  .share-buttons-block > * {
    align-self: center;
    flex-grow: 1;
    margin: 0 15px 0 0; }
  .share-buttons-block h1 {
    margin-right: 0;
    border-right: none;
    flex: 1;
    flex-basis: 100%;
    font-family: 'Avenir', 'Arial', 'sans-serif';
    font-size: 70px;
    line-height: 1;
    text-align: center; }
    @media (min-width: 1024px) {
      .share-buttons-block h1 {
        border-right: 1px solid #ccc;
        flex-basis: auto;
        padding: 0 1rem;
        margin-right: 1rem; } }
    .share-buttons-block h1 .total-share-count-text {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900; }
  .share-buttons-block .btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Avenir', 'Arial', 'sans-serif';
    font-size: 17px;
    font-weight: normal;
    flex: 1;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 25px;
    padding: 1rem;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap; }
    .share-buttons-block .btn:hover, .share-buttons-block .btn:active, .share-buttons-block .btn:focus, .share-buttons-block .btn:active:hover, .share-buttons-block .btn:active:focus {
      color: #ffffff; }
    @media (min-width: 1024px) {
      .share-buttons-block .btn {
        margin-top: 0; } }
    .share-buttons-block .btn img {
      padding-right: 5px; }
    .share-buttons-block .btn.fb {
      background-color: #305891; }
      .share-buttons-block .btn.fb:hover, .share-buttons-block .btn.fb:active, .share-buttons-block .btn.fb:focus {
        background-color: #3664a4; }
    .share-buttons-block .btn.twitter {
      background-color: #00adee; }
      .share-buttons-block .btn.twitter:hover, .share-buttons-block .btn.twitter:active, .share-buttons-block .btn.twitter:focus {
        background-color: #09bcff; }
    .share-buttons-block .btn.whatsapp {
      background-color: #43d854; }
      .share-buttons-block .btn.whatsapp:hover, .share-buttons-block .btn.whatsapp:active, .share-buttons-block .btn.whatsapp:focus {
        background-color: #58dc67; }
      @media (min-width: 769px) {
        .share-buttons-block .btn.whatsapp {
          display: none; } }
    .share-buttons-block .btn > i {
      color: #ffffff; }
